<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="C:\log\Library\nlog.log" internalLogLevel="Info" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="AsyncWrapper" name="async-file" queueLimit="500000" timeToSleepBetweenBatches="1" batchSize="50000" overflowAction="Grow">
      <target name="file" xsi:type="File" layout="${longdate} | ${ticks} | ${machinename} | ${processid} | ${appdomain:format={1\}} | ${threadid}| ${mdlc:item=receivableAdvanceRequestId} | ${level} | ${message}" fileName="C:\log\libraryAPI\libraryAPI-${shortdate}.log" keepFileOpen="false" encoding="iso-8859-2"/>
    </target>
    <target name="buy4logger" xsi:type="Buy4Logger" layout="${message}" autoparse="true"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="async-file"/>
    <logger name="*" minlevel="Debug" writeTo="buy4logger"/>
  </rules>
</nlog>